# Virtual Environment
venv/
/venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
# This ensures you never accidentally commit your API key!
.env

# IDE specific files
.idea/
.vscode/
